<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstname">First Name:</label>
      <input id="firstname" type="text" formControlName="firstname">
    </div>
    
    <div>
      <label for="lastname">Last Name:</label>
      <input id="lastname" type="text" formControlName="lastname">
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email">
    </div>
    
    <button type="submit">Submit</button>
  </form>
  