@model List<Dessert>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table" target="_blank">HTML Table docs from Mozilla</a>
<table>

    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Available</th>
    </tr>

    @foreach(Dessert d in Model)
    {

        <tr>
            <td>@d.Name</td>
            <td>@d.Type</td>
            <td>@d.Price</td>
              
            @if(!d.Available)
            {
                <td>Sold out!</td>
            }
            else
            {
                <td>Yes!</td>
            }

        </tr>
    }

</table>