.container {
    background-color: #EDEDED;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.item {
    height: 100vh;
    display: grid;
    place-items: center;
}

.sign-up-form-container {
    background-color: #b1b1b1;
    background-image: url("src/assets/paint.jpg");
    background-position: center;
}

.email-list-container {
    background-color: #EDEDED;
}