@*
    At the top of your razor cshtml file, you can define the Model that is being passed over from the Controller.
    To define the model, use this syntax: @model Type
    - The m in model must be lowercase
    - example: @model UserProfile
*@

@model List<string> 

<h1>Open Positions</h1>
 
@for(int i = 0; i < Model.Count; i++)
{
    <p>@Model[i]</p>
}